<%= form_for @summoner do |f| %>
<p> Summoner Name </p>
<%= f.text_field :summoner_name %>
<p>Password</p>
 <%= f.text_field :password %>
<p> Password Confirmation </p>
<%= f.text_field :password_confirmation %>
<br>
<%= f.submit "Submit" %>
<% end %>