<img src="/images/champion_splash_arts/Camille_0.jpg" class="summoner-bg"/>


<div class="container">
    <div class="inner">
    <p class="summoner-name"><%= @summoner.summoner_name %></p>
    <img src="http://avatar.leagueoflegends.com/na/<%= @summoner.summoner_name %>.png" class="summoner-icon" alt="">
    </div>
</div>
<% num = 0 %>

<% 10.times do |i| %>
<%= form_for @game do |f| %>
    <%= f.hidden_field :game, value: "#{@matches[num]["gameId"]}" %>
    <%= f.submit "Check Game" %>
    <% person = @matches[num]["participantIdentities"].select do |player|  %>
    <% @summoner.summoner_name.downcase == player["player"]["summonerName"].downcase %>
    <% end %>
    <% my_team = @matches[num]["teams"].select{|team| person[0]["teamId"]==team["team"]} %>
    <%  if my_team[0]["win"] == "Win" %>
      W/L: <%= "Won" %>
    <% else %>
    W/L: <%= "Lost" %>
    <% end %>
    <% person = person[0]["participantId"]-1 %>
    <% stats = @matches[num]["participants"][person]["stats"] %>
    Kills <%= stats["kills"] %>
    Deaths <%= stats["deaths"] %>
    Assists <%= stats["assists"] %>

    Champion ID: <%= @matches[num]["participants"][person]["championId"] %>
    <%= @matches[num]["gameDuration"]/60 %> minutes
<% end %>
<% num = num + 1 %>
<% end %>



<!-- Display a card with basic profile information like rank and win/loss and top 3 champions -->

<!-- Display last 10 games with basic info on the games -->
