<% require_relative "../resource/methods.rb" %>
<% i = 0 %>
<% players_names = [] %>
<% @stats_arr = [] %>
<img src="/game-bg.jpg" class="game-bg">
<% players_names = @game.get_summoners %>
<% @stats_arr = @game.get_players_stats(players_names, i) %>
<% def stats(i) %>
  <p class="game-player-stat">Damage:
    <%= @stats_arr[i]["damage"] %>
  </p>
  <p class="game-player-stat">Kills:
    <%= @stats_arr[i]["kills"] %>
  </p>
  <p class="game-player-stat">Deaths:
    <%= @stats_arr[i]["deaths"] %>
  </p>
  <p class="game-player-stat">Assists:
    <%= @stats_arr[i]["assists"] %>
  </p>
  <% kda = ((@stats_arr[i]["kills"]+@stats_arr[i]["assists"]).to_f/@stats_arr[i]["deaths"]).round(2) %>
  <% if @stats_arr[i]["kills"] > 1 && @stats_arr[i]["deaths"] == 0%>
    <p class="game-player-kda-perfect"><%= kda %></p>
  <% elsif kda < 1 %>
    <p class="game-player-kda-bad"><%= kda %>
  <% elsif kda >= 1 && kda < 3%>
    <p class="game-player-kda-avg"><%= kda %>
  <% elsif kda >= 3 && kda < 4%>
    <p class="game-player-kda-good"><%= kda %>
  <% elsif kda >= 4%>
    <p class="game-player-kda-gg"><%= kda %>
  <% end%>
<% end %>

  <div class="red">
    <div class="player1">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[0]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[0]%>_0.jpg" class="loading-art" alt="">
        <%= rank(0) %>
      </div>
      <div class="game-stats">
        <%= stats(0) %>
      </div>
    </div>
    <div class="player2">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[1]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[1]%>_0.jpg" alt="" class="loading-art">
        <%= rank(1) %>
      </div>
      <div class="game-stats">
        <%=stats(1)%>
      </div>
    </div>

    <div class="player3">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[2]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[2]%>_0.jpg" class="loading-art" alt="">
        <%= rank(2) %>
      </div>
      <div class="game-stats">
        <%= stats(2) %>
      </div>
    </div>

    <div class="player4">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[3]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[3]%>_0.jpg" class="loading-art" alt="">
        <%= rank(3) %>
      </div>
      <div class="game-stats">
        <%= stats(3) %>
      </div>
    </div>

    <div class="player5">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[4]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[4]%>_0.jpg" class="loading-art" alt="">
        <%= rank(4) %>
      </div>
      <div class="game-stats">
        <%= stats(4) %>
      </div>
    </div>
  </div>

  <div class="blue">
    <div class="player6">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[5]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[5]%>_0.jpg" class="loading-art" alt="">
        <%= rank(5) %>
      </div>
      <div class="game-stats">
        <%= stats(5) %>
      </div>
    </div>
    <div class="player7">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[6]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[6]%>_0.jpg" alt="" class="loading-art">
        <%= rank(6) %>
      </div>
      <div class="game-stats">
        <%=stats(6)%>
      </div>
    </div>

    <div class="player8">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[7]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[7]%>_0.jpg" class="loading-art" alt="">
        <%= rank(7) %>
      </div>
      <div class="game-stats">
        <%= stats(7) %>
      </div>
    </div>

    <div class="player9">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[8]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[8]%>_0.jpg" class="loading-art" alt="">
        <%= rank(8) %>
      </div>
      <div class="game-stats">
        <%= stats(8) %>
      </div>
    </div>

    <div class="player10">
      <div class="loading">
        <p class="game-name">
          <%= @stats_arr[9]["name"] %>
        </p>
        <img src="/images/champion_loading_art/<%= @champions[9]%>_0.jpg" class="loading-art" alt="">
        <%= rank(9) %>
      </div>
      <div class="game-stats">
        <%= stats(9) %>
      </div>
    </div>
  </div>
