<!DOCTYPE html>
<html>
  <head>
    <title>Simon.gg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="bar"></div>
  <input type="checkbox" id="menuToggle">
  <label for="menuToggle" class="menu-icon">&#9776;</label>

<nav class="menu">
	<ul>
    	<li><%= link_to "HOME", homepage_path %></li>
      <li><<%= link_to "CREATE", new_summoner_path %><</li>
      <% if request.env['PATH_INFO'] == homepage_path %>
          <%= link_to "EDIT", homepage_path %>
      <% else %>
        <li><%= link_to "EDIT", edit_summoner_path %></li>
        <% end%>
    </ul>
</nav>

    <%= yield %>
  </body>
</html>
