<!DOCTYPE html>
<html>
  <head>
    <title>Simon.gg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="bar">
    <ul class="bar-list">
        <li class="bar-item"><%= link_to "Home", homepage_path, class: "link" %></li>
        <li class="bar-item"><%= link_to "Create", new_summoner_path, class: "link"%></li>
        <li class="bar-item"><%= link_to "Edit", edit_summoner_path, class: "link"%></li>
   </ul>
</nav>

    <%= yield %>
  </body>
</html>
